<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meca Controller</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css" 
    integrity="sha384-4LISF5TTJX/fLmGSxO53rV4miRxdg84mZsxmO8Rx5jGtp/LbrixFETvWa5a6sESd" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.4.2/css/fontawesome.min.css" 
    integrity="sha384-BY+fdrpOd3gfeRvTSMT+VUZmA728cfF9Z2G42xpaRkUGu2i3DyzpTURDo5A6CaLK" crossorigin="anonymous">
    {% load static %}
    <link rel="shortcut icon" href="{% static 'Imagenes/Icono.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'CSS/estilos.css' %}">
    <link rel="stylesheet" href="{% static 'CSS/normalice.css' %}">
</head>

<body>
    <header class="hero">
        <nav class="nav container">
            <div class="nav_logo">
                <a href="{% url 'login' %}"><img src="{% static 'Imagenes/usuario.svg' %}" class="nav_title"></a>
                <h2 class="nav_title">Meca flowers & Green SAS</h2>
            </div>
            <ul class="nav_link nav_link-menu">
                <li class="nav_items">
                    <a href="{% url 'menu_inicio' %}" class="nav_links">Inicio</a>
                </li>
                <li class="nav_items">
                    <a href="{% url 'productos' %}" class="nav_links">Productos</a>
                </li>
                <li class="nav_items">
                    <a href="{% url 'instala' %}" class="nav_links">Instalaciones</a>
                </li>
                <li class="nav_items">
                    <a href="{% url 'contactenos' %}" class="nav_links">Contactenos</a>
                </li>
                <li class="nav_items">
                    <a href="{% url 'clasifica' %}" class="nav_links">Clasificación</a>
                </li>
                <img src="{% static 'Imagenes/cerrar.svg' %}" class="nav_close">
            </ul>
            <div class="nav_menu">
                <img src="{% static 'Imagenes/menu.svg' %}" class="nav_img">
            </div>
        </nav>
        <div>
            <h2 class="contact_title">CONTÁCTANOS</h2>
            <p class="parrafo">No esperes más y contáctanos, estaremos a tu servicio para brindarte la mejor 
                experiencia de flores para tus ocasiones especiales</p>
        </div>
    </header>
    <main>
        <section class="contact_container container">

            <div class ="cont_container">
                <div class="contact_info">
                    <div class="contact_box">
                        <div class="contact_icon">
                            <i class="bi bi-telephone"></i>
                        <div class ="contact_text">
                            <h3>Teléfono de Contacto</h3>
                            <p>###########</p>
                        </div>
                    </div>
                    <div class="contact_box">
                        <div class="contact_icon">
                            <i class="bi bi-envelope-at"></i></div>
                        <h3>Dirección de Correo</h3>
                            <a href="mecaflowersygreensas@gmail.com">mecaflowersygreensas@gmail.com</a>
                    </div>
                    <div class="contact_box">
                        <div class="contact_icon">
                            <i class="bi bi-whatsapp"></i></div>
                        <h3>Nuestros Contactos de Whatsapp</h3>
                        <a href="+57 3112042621">+57 3112042621</a> <p>Gerente Comercial</p>
                    </div>
                </div>
            </div>
            <div class="map">
                <form action="">
                    </div>
                    <iframe class = "map_G"
                        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d993.93743463547!2d-74.35619422949983!3d4.8129785632308035!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f7c607e401fd9%3A0x6144555d4160d957!2sCra.%204%20%238-40%2C%20Facatativ%C3%A1%2C%20Cundinamarca%2C%20Colombia!5e0!3m2!1ses-419!2sus!4v1711752071616!5m2!1ses-419!2sus"
                        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" margin-botom="100px"
                    r   eferrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </form>
            </div>
        </section>
    </main>
</body>
    <footer class="footer">
        <section class="footer_container container">
            <nav class="nav nav--footer">
                <h2 class="footer_title">Meca Controller</h2>
                <ul class="nav_link nav_link--footer">
                    <li class="nav_items">
                        <a href="{% url 'menu_inicio' %}" class="nav_links">Inicio</a>
                    </li>
                    <li class="nav_items">
                        <a href="{% url 'productos' %}" class="nav_links">Productos</a>
                    </li>
                    <li class="nav_items">
                        <a href="{% url 'instala' %}" class="nav_links">Instalaciones</a>
                    </li>
                    <li class="nav_items">
                        <a href="{% url 'contactenos' %}" class="nav_links">Contactenos</a>
                    </li>
                    <li class="nav_items">
                        <a href="{% url 'clasifica' %}" class="nav_links">Clasificación</a>
                    </li>
                    <img src="Imagenes/cerrar.svg" class="nav_close">
                </ul>
            </nav>
            <img src=" {% static 'Imagenes/IconoG.png' %}" class="footer_imgG">
        </section>
        <section class="footer_copy container">
            <div class="footer_social">
                <a href="#" class="footer_icons"><img src=" {% static 'Imagenes/watsap.svg' %}" class="footer_img"></a>
                <a href="#" class="footer_icons"><img src=" {% static 'Imagenes/gmail.svg' %}" class="footer_img"></a>
                <a href="#" class="footer_icons"><img src=" {% static 'Imagenes/telefono.svg' %}" class="footer_img"></a>
            </div>
            <h3 class="footer_copyright">Derechos reservados &copy; Meca Flowers</h3>
        </section>
    </footer>
</html>