<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meca Controller</title>
    {% load static %}
    <link rel="shortcut icon" href="{% static 'Imagenes/Icono.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'CSS/estilos.css' %}">
    <link rel="stylesheet" href="{% static 'CSS/normalice.css' %}">
</head>
<body>
    <header class="hero">
        <nav class="nav container">
            <div class="nav_logo">
                <a href="{% url 'login' %}"><img src="{% static 'Imagenes/usuario.svg' %}" class="nav_title"></a>
                <h2 class="nav_title">Meca flowers & Green SAS</h2>
            </div>
            <ul class="nav_link nav_link-menu">
                <li class="nav_items">
                    <a href="{% url 'menu_inicio' %}" class="nav_links">Inicio</a>
                </li>
                <li class="nav_items">
                    <a href="{% url 'productos' %}" class="nav_links">Productos</a>
                </li>
                <li class="nav_items">
                    <a href="{% url 'instala' %}" class="nav_links">Instalaciones</a>
                </li>
                <li class="nav_items">
                    <a href="{% url 'contactenos' %}" class="nav_links">Contactenos</a>
                </li>
                <li class="nav_items">
                    <a href="{% url 'clasifica' %}" class="nav_links">Clasificación</a>
                </li>
                <img src="{% static 'Imagenes/cerrar.svg' %}" class="nav_close">
            </ul>
            <div class="nav_menu">
                <img src="{% static 'Imagenes/menu.svg' %}" class="nav_img">
            </div>
        </nav>
        <section class="hero_container container">
            <h1 class="hero_title">CATÁLOGO GENERAL</h1>
        </section>
    </header>
    <main>
        <section class="slider">
            <div class="slider_container container"> 
                <img src="{% static 'Imagenes/flecha_izquierda.svg' %}" class="slider_arrow" id="before">
                <section class="slider_body slider_body--show" data-id="1">
                    <div class="slider_texts">
                        <h2 class="subtitle">Catálogo Astromelias</h2>
                        <a href="#Astromelia" class="cta">Ingresar</a>
                    </div>
                    <figure class="slider_picture">
                        <img src="{% static 'Imagenes/Astromelia.png' %}" class="slider_img">
                    </figure>
                </section>
                <section class="slider_body" data-id="2">
                    <div class="slider_texts">
                        <h2 class="subtitle">Catálogo Rosas</h2>
                        <a href="#Rosa" class="cta">Ingresar</a>
                    </div>
                    <figure class="slider_picture">
                        <img src="{% static 'Imagenes/Rosa.jpg' %}" class="slider_img">
                    </figure>
                </section>
                <section class="slider_body" data-id="3">
                    <div class="slider_texts">
                        <h2 class="subtitle">Catálogo Claveles</h2>
                        <a href="#Clavel" class="cta">Ingresar</a>
                    </div>
                    <figure class="slider_picture">
                        <img src="{% static 'Imagenes/Clavel.jpg' %}" class="slider_img">
                    </figure>
                </section>
                <section class="slider_body" data-id="4">
                    <div class="slider_texts">
                        <h2 class="subtitle">Catálogo Verdes</h2>
                        <a href="#Verdes" class="cta">Ingresar</a>
                    </div>
                    <figure class="slider_picture">
                        <img src="{% static 'Imagenes/Brillantina.jpg' %}" class="slider_img">
                    </figure>
                </section>
                <img src="{% static 'Imagenes/flecha_derecha.svg' %}" class="slider_arrow" id="next">
                <section class="slider_body" data-id="5">
                    <div class="slider_texts">
                        <h2 class="subtitle">Catálogo Eucaliptos</h2>
                        <a href="#Verdes" class="cta">Ingresar</a>
                    </div>
                    <figure class="slider_picture">
                        <img src="{% static 'imagenes_Princ/eucalipto.png' %}" class="slider_img">
                    </figure>
                </section>
            </div>
        </section>
        <section class="productos">
            <div class="line"></div>
            <section class="productos_container">
                <h2 class="subtitle" id="Astromelia">Catálogo Astromelias</h2>
                <div class="about_main">
                    <article class="about_icons">
                        <img src="{% static 'Imagenes/AstromeliaAm.JPG' %}" class="productos_img">
                        <h3 class="about_title">Astromelia Amarilla</h3>
                        <p class="about_paragraph">Se encuentran en grado de 60-70-80, y en paquete de 10 tallos</p>
                    </article>
                    <article class="about_icons">
                        <img src="{% static 'Imagenes/AstromeliaRoj.JPG' %}" class="productos_img">
                        <h3 class="about_title">Astromelia Roja</h3>
                        <p class="about_paragraph">Se encuentran en grado de 60-70-80, y en paquete de 10 tallos</p>
                    </article>
                    <article class="about_icons">
                        <img src="{% static 'Imagenes/AstromeliaBl.jpg' %}" class="productos_img">
                        <h3 class="about_title">Astromelia Blanca</h3>
                        <p class="about_paragraph">Se encuentran en grado de 60-70-80, y en paquete de 10 tallos</p>
                    </article>
                    <article class="about_icons">
                        <img src="{% static 'Imagenes/AstromeliaRos.JPG' %}" class="productos_img">
                        <h3 class="about_title">Astromelia Rosada</h3>
                        <p class="about_paragraph">Se encuentran en grado de 60-70-80, y en paquete de 10 tallos</p>
                    </article>
                </div>
            </section>
            <section class="productos_container">
                <h2 class="subtitle" id="Rosa">Catálogo Rosas</h2>
                <div class="about_main">
                    <article class="about_icons">
                        <img src=" {% static 'Imagenes/RosaAm.jpg' %}" class="productos_img">
                        <h3 class="about_title">Rosa Amarilla</h3>
                        <p class="about_paragraph">Se encuentran en grado de 40-50-60-70, y en paquete de 10 tallos</p>
                    </article>
                    <article class="about_icons">
                        <img src=" {% static 'Imagenes/RosaRoj.jpg' %}" class="productos_img">
                        <h3 class="about_title">Rosa Roja</h3>
                        <p class="about_paragraph">Se encuentran en grado de 40-50-60-70-80, y en paquete de 10 tallos
                        </p>
                    </article>
                    <article class="about_icons">
                        <img src=" {% static 'Imagenes/RosaBl.jpg' %}" class="productos_img">
                        <h3 class="about_title">Rosa Blanca</h3>
                        <p class="about_paragraph">Se encuentran en grado de 40-50-60-70-80, y en paquete de 10 tallos
                        </p>
                    </article>
                    <article class="about_icons">
                        <img src=" {% static 'Imagenes/RosaRos.jpg' %}" class="productos_img">
                        <h3 class="about_title">Rosa Rosada</h3>
                        <p class="about_paragraph">Se encuentran en grado de 40-50-60-70-80, y en paquete de 10 tallos
                        </p>
                    </article>
                </div>
            </section>
            <section class="productos_container">
                <h2 class="subtitle" id="Clavel">Catálogo Claveles</h2>
                <div class="about_main">
                    <article class="about_icons">
                        <img src=" {% static 'Imagenes/ClavelNa.jpg' %}" class="productos_img">
                        <h3 class="about_title">Clavel Naranja</h3>
                        <p class="about_paragraph">Se encuentran ecorto-largo-standar</p>
                    </article>
                    <article class="about_icons">
                        <img src=" {% static 'Imagenes/ClavelRo.jpg' %}" class="productos_img">
                        <h3 class="about_title">Clavel Rojo</h3>
                        <p class="about_paragraph">Se encuentran corto-largo-standar</p>
                    </article>
                    <article class="about_icons">
                        <img src=" {% static 'Imagenes/ClavelBl.jpg' %}" class="productos_img">
                        <h3 class="about_title">Clavel Blanco</h3>
                        <p class="about_paragraph">Se encuentran corto-largo-standar</p>
                    </article>
                    <article class="about_icons">
                        <img src=" {% static 'Imagenes/ClavelRos.jpg' %}" class="productos_img">
                        <h3 class="about_title">Clavel Rosado</h3>
                        <p class="about_paragraph">Se encuentran corto-largo-standar</p>
                    </article>
                </div>
            </section>
            <section class="productos_container">
                <h2 class="subtitle" id="Verdes">Catálogo Verdes</h2>
                <div class="about_main">
                    <article class="about_icons">
                        <img src=" {% static 'Imagenes/Erygium.jpg' %}" class="productos_img">
                        <h3 class="about_title">Eryngium</h3>
                        <p class="about_paragraph">Se encuentran en grado de 50-60-70-80, y en paquete de 10 tallos</p>
                    </article>
                    <article class="about_icons">
                        <img src=" {% static 'Imagenes/Brillantina1.jpg' %}" class="productos_img">
                        <h3 class="about_title">Brillantina</h3>
                        <p class="about_paragraph">Se encuentran en grado de 50-60-70, y en paquete de 10 tallos</p>
                    </article>
                    <article class="about_icons">
                        <img src=" {% static 'Imagenes/Coculos.jpg' %}" class="productos_img">
                        <h3 class="about_title">Coculos</h3>
                        <p class="about_paragraph">Se encuentran en grado de 50-60-70-80, y en paquete de 10 tallos</p>
                    </article>
                    <article class="about_icons">
                        <img src=" {% static 'Imagenes/Ruscus.jpg' %}" class="productos_img">
                        <h3 class="about_title">Ruscus</h3>
                        <p class="about_paragraph">Se encuentran en grado de 50-60-70-80, y en paquete de 10 tallos</p>
                    </article>
                    <article class="about_icons">
                        <img src=" {% static 'Imagenes/EucaliptoB.jpg' %}" class="productos_img">
                        <h3 class="about_title">Eucalipto Blue</h3>
                        <p class="about_paragraph">Se encuentran en grado de 50-60, y en paquete de 10 tallos</p>
                    </article>
                    <article class="about_icons">
                        <img src=" {% static 'Imagenes/CintaL.jpg' %}" class="productos_img">
                        <h3 class="about_title">Cinta Liriope</h3>
                        <p class="about_paragraph">Se encuentran en grado de 60-70-80-90, y en paquete de 10 tallos</p>
                    </article>
                    <article class="about_icons">
                        <img src=" {% static 'Imagenes/Helecho.jpg' %}" class="productos_img">
                        <h3 class="about_title">Helecho</h3>
                        <p class="about_paragraph">Se encuentran en grado de 50-55-60</p>
                    </article>
                    <article class="about_icons">
                        <img src=" {% static 'Imagenes/EucaliptoS.jpg' %} " class="productos_img">
                        <h3 class="about_title">Eucalipto Silver</h3>
                        <p class="about_paragraph">Se encuentran en grado de 50-60, y en paquete de 10 tallos</p>
                    </article>
                    <article class="about_icons">
                        <img src=" {% static 'Imagenes/EucaliptoP.jpg' %}" class="productos_img">
                        <h3 class="about_title">Eucalipto Parvifolia</h3>
                        <p class="about_paragraph">Se encuentran en grado de 50-60, y en paquete de 10 tallos</p>
                    </article>
                    <article class="about_icons">
                        <img src=" {% static 'Imagenes/Aralias.jpg' %}" class="productos_img">
                        <h3 class="about_title">Aralias</h3>
                        <p class="about_paragraph">Se encuentran en grado de 55-60, y en paquete de 10 tallos</p>
                    </article>
                </div>
            </section>
        </section>
    </main>
    <script src=" {% static 'JS/slider.js' %}"></script>
    <script src=" {% static 'JS/menu.js' %}"></script>
    <footer class="footer">
        <section class="footer_container container">
            <nav class="nav nav--footer">
                <h2 class="footer_title">Meca Controller</h2>
                <ul class="nav_link nav_link--footer">
                    <li class="nav_items">
                        <a href="{% url 'menu_inicio' %}" class="nav_links">Inicio</a>
                    </li>
                    <li class="nav_items">
                        <a href="{% url 'productos' %}" class="nav_links">Productos</a>
                    </li>
                    <li class="nav_items">
                        <a href="{% url 'instala' %}" class="nav_links">Instalaciones</a>
                    </li>
                    <li class="nav_items">
                        <a href="{% url 'contactenos' %}" class="nav_links">Contactenos</a>
                    </li>
                    <li class="nav_items">
                        <a href="{% url 'clasifica' %}" class="nav_links">Clasificación</a>
                    </li>
                    <img src="Imagenes/cerrar.svg" class="nav_close">
                </ul>
            </nav>
            <img src=" {% static 'Imagenes/IconoG.png' %}" class="footer_imgG">
        </section>
        <section class="footer_copy container">
            <div class="footer_social">
                <a href="#" class="footer_icons"><img src=" {% static 'Imagenes/watsap.svg' %}" class="footer_img"></a>
                <a href="#" class="footer_icons"><img src=" {% static 'Imagenes/gmail.svg' %}" class="footer_img"></a>
                <a href="#" class="footer_icons"><img src=" {% static 'Imagenes/telefono.svg' %}" class="footer_img"></a>
            </div>
            <h3 class="footer_copyright">Derechos reservados &copy; Meca Flowers</h3>
        </section>
    </footer>
</body>
</html>